/* Scrollable Table */
.scrollable
{
    position: relative;
    height: 200px;
    overflow: auto;
    display: block;
}

/* Scroll Design */
::-webkit-scrollbar 
{
    width: 5px;
}
  
::-webkit-scrollbar-track
{
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
    background: rgb(31, 134, 0); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover
{
    background: rgb(60, 255, 0); 
}